// Custom styles.
body{
    background:url(https://i.loli.net/2019/07/29/5d3e60c6b6ab592644.jpeg);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
}