// Custom styles.
body{
    background:url(http://ptulp7849.bkt.clouddn.com/theme_background.jpeg);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
}